<section class="text-zinc-50 container mx-auto px-8 md:px-2 w-full md:w-1/2">
  <h2 class="text-center text-purple-300 text-3xl font-bold my-2">
    ¿Para qué se hizo?
  </h2>
  <p class="text-stone-300 font-normal">
    Esta aplicación se desarrolló como un proyecto práctico para consolidar y
    demostrar los conocimientos adquiridos en Angular. A través de este
    proyecto, se buscó aplicar conceptos clave como la manipulación de eventos,
    la comunicación entre componentes, y la gestión del estado de la aplicación.
    Aunque su funcionalidad es sencilla, representa un hito importante en el
    aprendizaje de cómo crear aplicaciones interactivas y reactivas con Angular.
  </p>

  <p class="text-stone-300 font-normal mt-4">
    Además, este proyecto tiene el objetivo de servir como una base para futuras
    aplicaciones más complejas, permitiendo a los desarrolladores experimentar y
    expandir sus habilidades en Angular. La simplicidad del diseño permite un
    enfoque claro en la lógica subyacente, lo que lo hace ideal para aquellos
    que están comenzando a dominar este poderoso framework.
  </p>

  <h2 class="text-center text-purple-300 text-3xl font-bold my-2">
    ¿Qué funciones posee?
  </h2>
  <ul class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-4 pb-8">
    <li
      class="bg-stone-900/50 p-4 rounded w-full flex justify-center items-center flex-col gap-4 text-center"
    >
      <div class="bg-purple-700 w-max p-2 rounded-full">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-edit-circle"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ffffff"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M12 15l8.385 -8.415a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3z"
          />
          <path d="M16 5l3 3" />
          <path d="M9 7.07a7 7 0 0 0 1 13.93a7 7 0 0 0 6.929 -6" />
        </svg>
      </div>
      <p class="text-lg font-bold">Diseño compacto y sencillo</p>
      <p class="text-sm text-stone-300">
        El diseño de la aplicación se ha centrado en la simplicidad y la
        facilidad de uso, permitiendo que cualquier usuario pueda interactuar
        con ella de manera intuitiva.
      </p>
    </li>
    <li
      class="bg-stone-900/50 p-4 rounded w-full flex justify-center items-center flex-col gap-4 text-center"
    >
      <div class="bg-purple-700 w-max p-2 rounded-full">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-keyboard"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ffffff"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M2 6m0 2a2 2 0 0 1 2 -2h16a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-16a2 2 0 0 1 -2 -2z"
          />
          <path d="M6 10l0 .01" />
          <path d="M10 10l0 .01" />
          <path d="M14 10l0 .01" />
          <path d="M18 10l0 .01" />
          <path d="M6 14l0 .01" />
          <path d="M18 14l0 .01" />
          <path d="M10 14l4 .01" />
        </svg>
      </div>
      <p class="text-lg font-bold">Posibilidad de escribir con teclado</p>
      <p class="text-sm text-stone-300">
        Se ha implementado una función que permite la interacción directa con el
        teclado físico, mejorando la usabilidad y proporcionando una experiencia
        más rápida y fluida.
      </p>
    </li>
    <li
      class="bg-stone-900/50 p-4 rounded w-full flex justify-center items-center flex-col gap-4 text-center"
    >
      <div class="bg-purple-700 w-max p-2 rounded-full">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-music"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ffffff"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M3 17a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
          <path d="M13 17a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
          <path d="M9 17v-13h10v13" />
          <path d="M9 8h10" />
        </svg>
      </div>
      <p class="text-lg font-bold">Uso de sonidos al teclear</p>
      <p class="text-sm text-stone-300">
        Cada interacción con la calculadora viene acompañada de un sonido suave
        que confirma la acción realizada, mejorando la respuesta táctil del
        usuario.
      </p>
    </li>
  </ul>
  <div class="pb-8">
    <h2 class="text-center text-purple-300 text-3xl font-bold my-2">
      Teclas disponibles
    </h2>
    <ul class="flex flex-col gap-2 list-disc">
      <li class="text-stone-200 font-light">1 - Digita el numero 1</li>
      <li class="text-stone-200 font-light">2 - Digita el numero 2</li>
      <li class="text-stone-200 font-light">3 - Digita el numero 3</li>
      <li class="text-stone-200 font-light">4 - Digita el numero 4</li>
      <li class="text-stone-200 font-light">5 - Digita el numero 5</li>
      <li class="text-stone-200 font-light">6 - Digita el numero 6</li>
      <li class="text-stone-200 font-light">7 - Digita el numero 7</li>
      <li class="text-stone-200 font-light">8 - Digita el numero 8</li>
      <li class="text-stone-200 font-light">9 - Digita el numero 9</li>
      <li class="text-stone-200 font-light">0 - Digita el numero 0</li>
      <li class="text-stone-200 font-light">- - Resta</li>
      <li class="text-stone-200 font-light">* - Multiplica</li>
      <li class="text-stone-200 font-light">/ - Divide</li>
      <li class="text-stone-200 font-light">+ - Suma</li>
      <li class="text-stone-200 font-light">= - Resultado</li>
      <li class="text-stone-200 font-light">Backspace - Borra un digito</li>
      <li class="text-stone-200 font-light">Enter - Borra un digito</li>
      <li class="text-stone-200 font-light">C - Borra todos los digitos</li>
    </ul>
  </div>
</section>

<footer class="bg-stone-900/50">
  <h3 class="text-stone-500 text-lg font-light py-8 text-center">
    Hecho con Angular y diseñado para mejorar habilidades de desarrollo web.
  </h3>
</footer>
