<main class="bg-stone-950 h-full">
  <section class="h-[95dvh] grid place-content-center">
    <h1 class="text-white font-light text-center mb-12 text-3xl md:text-5xl">
      Calculadora
    </h1>
    <div
      class="bg-stone-900 shadow-2xl shadow-purple-800/10 p-4 rounded-xl w-96"
    >
      <input
        type="text"
        class="p-1 px-2 text-end text-white outline-none font-bold text-3xl bg-zinc-800 rounded w-full"
        value="{{ display }}"
        placeholder="{{ placeholder }}"
        readonly
      />
      <div class="grid grid-cols-4 my-2 gap-2">
        <app-button-math
          (AddKeyDisplay)="recibirLetra($event)"
          [charAdd]="'1'"
        ></app-button-math>
        <app-button-math
          (AddKeyDisplay)="recibirLetra($event)"
          [charAdd]="'2'"
        ></app-button-math>
        <app-button-math
          (AddKeyDisplay)="recibirLetra($event)"
          [charAdd]="'3'"
        ></app-button-math>
        <app-button-math
          (AddKeyDisplay)="recibirOperacion($event)"
          [charAdd]="'+'"
        ></app-button-math>
        <app-button-math
          (AddKeyDisplay)="recibirLetra($event)"
          [charAdd]="'4'"
        ></app-button-math>
        <app-button-math
          (AddKeyDisplay)="recibirLetra($event)"
          [charAdd]="'5'"
        ></app-button-math>
        <app-button-math
          (AddKeyDisplay)="recibirLetra($event)"
          [charAdd]="'6'"
        ></app-button-math>
        <app-button-math
          (AddKeyDisplay)="recibirOperacion($event)"
          [charAdd]="'-'"
        ></app-button-math>
        <app-button-math
          (AddKeyDisplay)="recibirLetra($event)"
          [charAdd]="'7'"
        ></app-button-math>
        <app-button-math
          (AddKeyDisplay)="recibirLetra($event)"
          [charAdd]="'8'"
        ></app-button-math>
        <app-button-math
          (AddKeyDisplay)="recibirLetra($event)"
          [charAdd]="'9'"
        ></app-button-math>
        <app-button-math
          (AddKeyDisplay)="recibirOperacion($event)"
          [charAdd]="'*'"
        ></app-button-math>
        <app-button-math
          (AddKeyDisplay)="recibirLetra($event)"
          [charAdd]="'.'"
        ></app-button-math>
        <app-button-math
          (AddKeyDisplay)="recibirLetra($event)"
          [charAdd]="'0'"
        ></app-button-math>
        <app-button-math
          (AddKeyDisplay)="recibirOperacion($event)"
          [charAdd]="'='"
        ></app-button-math>
        <app-button-math
          (AddKeyDisplay)="recibirOperacion($event)"
          [charAdd]="'/'"
        ></app-button-math>
      </div>
    </div>
  </section>
  <app-info />
</main>
<router-outlet />
