/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Questrial&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scrollbar-width: thin;
  scrollbar-color: #7e22ce #0c0a09;
}
body {
  font-family: "Questrial", sans-serif;
  font-family: "Montserrat", sans-serif;
}
